BETTER_AUTH_SECRET=supersecret
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:5173

IMAP_HOST=localhost
IMAP_PORT=993
SMTP_HOST=localhost
SMTP=587

DATABASE_URL=postgresql://basalt:supersecret@localhost:5432/basalt